@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #535353;
}

.container {
  margin: 0 auto;
  max-width: 960px;

  @media (max-width: 1024px) {
    margin: 0 24px;
  }
}
